/* main CSS for entire page*/

/* 
	load your font of choice here 
	page loads faster if you use only
	one font type
*/

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

*:hover {
    cursor: pointer;

}

body {
	background: #222222;
    color: #ffffff;
    font-family: 'Share Tech Mono', monospace; /* change font here */
    font-size: 16px;
}

#start {

	background: rgba(0,0,0,0);
    border: 10px solid #ffffff;
	border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    height: 25px;
    left: 50%;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translateX(-50%);
    width: 50px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.menu {
    display: block;
    height: auto;
    left: 50%;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 80vh;
    width: auto;
    z-index: 99;
}
.fa {
    color: black;
    text-align: center;
}

span {
    display: block;
}

#links {
    color: black;
    display: block;
    position: absolute;
    z-index: 98;
    background: aliceblue;
    width: auto;
    height: auto;
}

#progress {
    display: block;
    position: relative;
    margin-top: 10px;
}

#world {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
