/* main CSS for entire page*/

/* 
	load your font of choice here 
	page loads faster if you use only
	one font type
*/

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

*:hover {
    cursor: pointer;

}

body {
	background: #222222;
    color: #000000;
    font-family: 'Share Tech Mono', monospace; /* change font here */
    font-size: 16px;
}

.container {
    position: relative;
}

.menu {
    position: absolute;
    z-index: 99;
}

canvas {
    position: absolute;
    width: 99%;
    height: 99%;
    z-index: 1;
}

